extends layout

block content
  - for (var key in waveforms) {
    .col-md-4
      .panel.panel-default
        .panel-heading
          h3.panel-title= waveforms[key].name
        .panel-body
          .wrapper.pull-left
            img(src=waveforms[key].imageFile)
            .overlay
          audio.player(src=waveforms[key].mediaFile, controls)
    - }
